<footer class="w-100 ps-0">
    <div class="mx-4 d-flex flex-column flex-md-row flex-wrap justify-content-between py-2">
        <div class="mb-2 mb-md-0">
            <a href="/" target="_blank" class="footer-link"> © 2022 WebSystems</a>
        </div>
        <div>
            <a href="/" target="_blank" class="footer-link d-none d-sm-inline-block">Поддержка</a>
        </div>
    </div>
</footer>