@using System.Resources
<div class="d-flex align-items-lg-start align-items-xl-center mb-3">
    <div class="col-xxl-2 col-xl-2 d-xl-inline-block d-none">
        <a href="/">
            <img src="/img/logo.svg" alt="">
        </a>
    </div> 
    <div class="col-xxl-8 col-xl-auto">
        <nav class="navbar-expand-xl">
            <div class="container-fluid">
                <partial name="LayoutPartial/_MainMenuPartialV2" />
            </div>
        </nav>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-10 col-md-10 col-sm-10 ms-auto">
        <div class="row align-items-center header_create justify-content-xl-between justify-content-end ms-xl-auto">
            @if (User.HasClaim(AccessKeyNames.DataCase, AccessKeyValues.Add))
            {
                <a asp-action="Create" asp-controller="Cases" class="btn btn-primary px-md-1 col-xxl-5 col-xl-5 col-lg-2 col-md-2 col-sm-3">
                    <P>Создать</P>
                </a>
            }

            @*<div class="col-sm-2 col-2">
            <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
            <i class="bx bx-sm"></i>
            </a>
            </div>
            *@

            <!-- Notification -->
            @await Component.InvokeAsync("NotificationPartial")

            <!--/ Notification -->
            <!-- Queue -->
            @if (User.HasClaim(AccessKeyNames.EmployeeQueue, AccessKeyValues.View))
            {
                @await Component.InvokeAsync("QueuePartial")
            }

            <!-- Queue -->
            <!-- User -->
            @await Component.InvokeAsync("LoginPartial")
            <!--/ User -->
        </div>
    </div>
</div> 