@using System.Resources
<nav class="row align-items-center mb-3">
    <div class="col-sm-auto navbar-brand app-brand demo d-none d-xxl-flex py-0 me-3">
        <div class="header_logo">
            <a href="/">
                <img src="/img/logo.svg" alt="">
            </a>
        </div>
    </div>
    <div class="navbar-expand-xl col-xl-7 col-xxl-6 col-2 col-lg-4">
        <partial name="LayoutPartial/_MainMenuPartial" />
    </div>
    <div class="col">
        <div class="row align-items-center justify-content-end">

            @if (User.HasClaim(AccessKeyNames.DataCase, AccessKeyValues.Add))
            {
                <div class="col-sm-3 btn-group">
                    <a asp-action="Create" asp-controller="Cases" role="button" class="btn btn-primary waves-effect waves-float waves-light text-white">Создать</a>
                </div>
            }


            <!-- Notification -->
            @await Component.InvokeAsync("NotificationPartial")

            <!--/ Notification -->
            <!-- Queue -->
            @if (User.HasClaim(AccessKeyNames.EmployeeQueue, AccessKeyValues.View))
            {
                @await Component.InvokeAsync("QueuePartial")
            }

            <!-- Queue -->
            <!-- User -->
            @await Component.InvokeAsync("LoginPartial")
            <!--/ User -->

        </div>
    </div>
</nav>

