@model AisLogistics.App.Models.DTO.References.EmployeePasswordChangeDto
@{
}

<form asp-controller="Reference" asp-action="EmployeePasswordSave" id="sendingForm" method="post" role="form">
    <input type="hidden" asp-for="EmployeeId" />
    <div class="form-body pt-1 pb-4">
        <fieldset>
            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="NewPassword">Новый пароль</label>
                    <input asp-for="NewPassword" class="form-control">
                </div>
            </div>
        </fieldset>
    </div>
</form>
<script>
    $(function(){
        FormValidation.formValidation(document.getElementById('sendingForm'),
            {
                fields: {
                    NewPassword: {
                        validators: {
                            notEmpty: {
                                message: '@MessageDescription.FieldIsRequired'
                            },
                            stringLength: {
                                min: 6,
                                message: 'Пароль должен содержать не менее 6 символов'
                            }
                        }
                    }
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    submitButton: new FormValidation.plugins.SubmitButton(),
                    bootstrap5: new FormValidation.plugins.Bootstrap5(),
                    autoFocus: new FormValidation.plugins.AutoFocus()
                }
            }).on('core.form.valid', function() {
            var $form = $("#sendingForm");
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                dataType: 'json',
                beforeSend: () => {
                    $form.spinnerBtn("start");
                },
                complete: () => {
                    //$table.DataTable().ajax.reload(null, false);
                    $form.spinnerBtn("stop");
                    $("#mainModal").modal('hide');
                }
            });

            return false;
        });
    });
</script>

