@using AisLogistics.App.ViewModels.SelectListViewModel
@model AisLogistics.App.Models.AdditionalForms.PassportIssuancModel


@{

    IEnumerable<SelectListItem> Adress = new List<SelectListItem> {
        new ("Пребывания","1"),
        new ("Обращения","2"),
    };
    IEnumerable<SelectListItem> Please = new List<SelectListItem> {
        new ("Выдать паспорт","1"),
        new ("Заменить паспорт","2"),
    };
}
<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <div class="row mb-3">
                <div class="col-3" data-document-code>
                    <label class="form-label" asp-for="DocIssuerCode">Код подразделения</label>
                    <input type="text" class="form-control" placeholder="Код подразделения" asp-for="DocIssuerCode">
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="DocSeries">Серия</label>
                    <input type="text" class="form-control" placeholder="Серия" asp-for="DocSeries">
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="DocNumber">Номер</label>
                    <input type="text" class="form-control" placeholder="Номер" asp-for="DocNumber">
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="DocIssueDate">Дата выдачи</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input asp-for="DocIssueDate" type="text" class="form-control pickdate" placeholder="Дата выдачи">
                    </div>
                </div>
            </div>
            <br/>
            <div class="row mb-3">
                <div class="col-3">
                    <label class="form-label" asp-for="LastName">Фамилия</label>
                    <input type="text" asp-for="LastName" class="form-control" placeholder="Фамилия">
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="FirstName">Имя</label>
                    <input type="text" asp-for="FirstName" class="form-control" placeholder="Имя">
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="SecondName">Отчество</label>
                    <input type="text" asp-for="SecondName" class="form-control" placeholder="Отчество">
                </div> 
                   <div class="col-3">
                    <label class="form-label" asp-for="BirthDate">Дата рождения</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input asp-for="BirthDate"  type="text" class="form-control pickdate" placeholder="Дата рождения">
                    </div>
                </div>
             </div> 
            <div class="row mb-3">
                <div class="col-4">
                    <label class="d-block form-label">Пол</label>
                    <div class="form-check form-check-inline mt-2">
                         <input class="form-check-input" type="radio"  asp-for="Gender"  id="gender1" value="1" >
                         <label class="form-check-label"  asp-for="Gender"><i class="bx bx-male fs-3"></i> Мужской</label>
                    </div>
                    <div class="form-check form-check-inline">
                         <input class="form-check-input" type="radio"  asp-for="Gender" id="gender2" value="2">
                         <label class="form-check-label" asp-for="Gender"><i class="bx bx-female fs-3"></i>Женский</label>
                    </div>
                 </div>
                 <div class="col-8">
                    <label class="form-label" asp-for="AddressBirth">Место рождения (по существующему административно-территориальному делению) </label>
                    <input asp-for="AddressBirth"  type="text" class="form-control" placeholder="Место рождения">
                </div>
            </div>
            <br/>
            <div class="row mb-3">
                <div class="col-8" id="men">
                    <label class="form-label" asp-for="Fameli">Семейное положение </label>
                     <select class="form-select select2-nosearch" asp-for="Fameli">
                           <option  value="Женат">Женат</option>
                           <option  value="Не женат">Не женат</option>
                           <option  value="Разведён">Разведён</option>
                           <option  value="Вдовец">Вдовец</option>
                     </select>
                </div>
                <div class="col-8" id="whumen">
                     <label class="form-label" asp-for="Fameli">Семейное положение </label>
                     <select  class="form-select select2-nosearch" asp-for="Fameli">
                           <option  value="Замужем">Замужем</option>
                           <option  value="Не замужем">Не замужем</option>
                           <option  value="Разведена">Разведена</option>
                           <option  value="Вдова">Вдова</option>
                     </select>
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="FameliDate">Дата заключения брака(расторжения)брака</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input asp-for="FameliDate"  type="text" class="form-control pickdate" placeholder="Дата заключения брака (расторжения) брака">
                    </div>
                </div>
            </div>
             <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="OrganBraka">Наименование органа государственной регистрации заключения брака </label>
                    <input asp-for="OrganBraka"  type="text" class="form-control" placeholder="Наименование органа государственной регистрации заключения брака">
                </div>
            </div>
            
             <div class="row mb-3">
                <div class="col-10">
                    <label class="form-label" id="wifi" asp-for="Wife"></label>
                    <input asp-for="Wife" id="wifiplace" type="text" class="form-control" placeholder="ФИО супруги (-а)">
                </div>
                <div class="col-2">
                    <label class="form-label" asp-for="WifeDateBirth">Дата рождения</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input asp-for="WifeDateBirth"  type="text" class="form-control pickdate" placeholder="Дата рождения">
                    </div>
                </div>
            </div>
            <br/>
             <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="FioFather">ФИО отца </label>
                    <input asp-for="FioFather"  type="text" class="form-control" placeholder="ФИО отца">
                </div>
            </div>
             <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="FioMother">ФИО матери </label>
                    <input asp-for="FioMother"  type="text" class="form-control" placeholder="ФИО матери">
                </div>
            </div>
            <br/>
            <h6 class="my-2">Адрес места жительства</h6>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="ResidenceAddress.Region">Регион</label>
                    <input type="text" asp-for="ResidenceAddress.Region" class="form-control" placeholder="Регион" data-addressprev-clean>
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="ResidenceAddress.District">Город/Район</label>
                    <input type="text" asp-for="ResidenceAddress.District" class="form-control" placeholder="Район" data-addressprev-clean>
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="ResidenceAddress.Locality">Cело</label>
                    <input type="text" asp-for="ResidenceAddress.Locality" class="form-control" placeholder="Село" data-addressprev-clean>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ResidenceAddress.Street">Улица</label>
                    <input type="text" asp-for="ResidenceAddress.Street" class="form-control" placeholder="Улица" data-addressprev-clean> 
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <label class="form-label" asp-for="ResidenceAddress.House">Дом</label>
                    <input type="text" asp-for="ResidenceAddress.House" class="form-control" placeholder="Дом" data-addressprev-clean>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="ResidenceAddress.Housing">Корпус</label>
                    <input type="text" asp-for="ResidenceAddress.Housing" class="form-control" placeholder="Корпус" data-addressprev-clean>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="ResidenceAddress.Building">Строение</label>
                    <input type="text" asp-for="ResidenceAddress.Building" class="form-control" placeholder="Строение" data-addressprev-clean>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="ResidenceAddress.Flat">Квартира</label>
                    <input type="text" asp-for="ResidenceAddress.Flat" class="form-control" placeholder="Квартира" data-addressprev-clean>
                </div>
            </div>
            <hr/>
            <br/>
         
            <div class="row mb-3">
                <div class="col-3">
                    <label class="form-label" asp-for="Place">Место</label>
                    <select asp-items="@Adress" class="form-select select2-nosearch" asp-for="Place"></select>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="AddressPlace.Region">Регион</label>
                    <input type="text" asp-for="AddressPlace.Region" class="form-control" placeholder="Регион" data-addressprev-clean>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="AddressPlace.District">Город/Район</label>
                    <input type="text" asp-for="AddressPlace.District" class="form-control" placeholder="Район" data-addressprev-clean>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="AddressPlace.Locality">село</label>
                    <input type="text" asp-for="AddressPlace.Locality" class="form-control" placeholder="Село" data-addressprev-clean>
                </div>
            </div>
           
             <div class="row mb-3">
                 <div class="col-12">
                    <label class="form-label" asp-for="AddressPlace.Street">Улица</label>
                   <input type="text" asp-for="AddressPlace.Street" class="form-control" placeholder="Улица" data-addressprev-clean> 
            </div>
            </div>

            <div class="row mb-3">
                <div class="col-3">
                    <label class="form-label" asp-for="AddressPlace.House">Дом</label>
                    <input type="text" asp-for="AddressPlace.House" class="form-control" placeholder="Дом" data-addressprev-clean>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="AddressPlace.Housing">Корпус</label>
                    <input type="text" asp-for="AddressPlace.Housing" class="form-control" placeholder="Корпус" data-addressprev-clean>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="AddressPlace.Building">Строение</label>
                    <input type="text" asp-for="AddressPlace.Building" class="form-control" placeholder="Строение" data-addressprev-clean>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="AddressPlace.Flat">Квартира</label>
                    <input type="text" asp-for="AddressPlace.Flat" class="form-control" placeholder="Квартира" data-addressprev-clean>
                </div>
                 </div>
            <br/>
         
             <div class="row mb-3">
                 <div class="col-6">
                    <label class="form-label" asp-for="Phone">Телефон</label>
                   <input type="text" asp-for="Phone" class="form-control" placeholder="Телефон"> 
            </div>
                 <div class="col-6">
                    <label class="form-label" asp-for="Email">Email</label>
                   <input type="text" asp-for="Email" class="form-control" placeholder="Email"> 
            </div>
            </div>
            <br/>
             <div class="row mb-3">
                <div class="col-4">
                                            <label class="d-block form-label">ранее состоял(а) в ином гражданстве</label>
                                            <div class="form-check form-check-inline mt-2">
                                                <input class="form-check-input" type="radio"  asp-for="LastGrajdan" value="1" checked="checked">
                                                <label class="form-check-label"  asp-for="LastGrajdan">Да</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"  asp-for="LastGrajdan" value="2">
                                                <label class="form-check-label" asp-for="LastGrajdan">Нет</label>
                                            </div>
                </div>
                <div class="col-8">
                    <label class="form-label" asp-for="LastGrajdanContry">иное гражданство</label>
                     <input type="text" asp-for="LastGrajdanContry" class="form-control" placeholder="Иное гражданство"> 
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ReasonGrajdanRF">Основание приобретения гражданства РФ</label>
                    <input type="text" asp-for="ReasonGrajdanRF" class="form-control" placeholder="Основание приобретения гражданства РФ" > 
                </div>
            </div>
            <div class="row mb-3">
                 <div class="col-3">
                    <label class="form-label"  id="please" asp-for="Please">Просьба</label>
                    <select asp-items="@Please" class="form-select select2-nosearch" asp-for="Please">
                    </select>
                 </div>
                 <div class="col-3">
                    <label class="form-label" asp-for="DataFillings">Дата заполнения</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input asp-for="DataFillings"  type="text" class="form-control pickdate" placeholder="Дата заполнения">
                    </div>
                 </div>
            </div>
            <div class="row mb-3">
                 <div class="col-4">
                                            <label class="d-block form-label">выдать временное удостоверение личности</label>
                                            <div class="form-check form-check-inline mt-2">
                                                <input class="form-check-input" type="radio"  asp-for="TimeGrajdan" value="1" checked="checked">
                                                <label class="form-check-label"  asp-for="TimeGrajdan">Да</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"  asp-for="TimeGrajdan" value="2">
                                                <label class="form-check-label" asp-for="TimeGrajdan">Нет</label>
                                            </div>
                 </div>
                    <div class="col-8">
                       <label class="form-label"  asp-for="Core"> </label>
                       <select  class="form-select select2-nosearch" id="core" asp-for="Core">
                           <option id="prots" value=""></option>
                           <option  value="При ошибке, внесение исправлений">При ошибке, внесение исправлений</option>
                           <option  value="При порче паспорта">При порче паспорта </option>
                           <option  value="В связи достижением 20 лет">В связи достижением 20 лет</option>
                           <option  value="В связи достижением 45 лет">В связи достижением 45 лет</option>
                           <option  value="В связи со сменой фамилии">В связи со сменой фамилии</option>
                           <option  value="В связи с достижением 14 лет">В связи с достижением 14 лет</option>
                           <option  value="При утрате (хищении) ранее выданного паспорта">При утрате (хищении) ранее выданного паспорта</option>
                       </select>
                    </div>
            </div>
                
                <hr/>
                <br/>
             <h6 class="my-2">Предъявленный документ (в том числе сведения об утраченном (похищенном) паспорте)</h6>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="RipTypeDoc">Тип документа</label>
                    <select class="form-select select2-nosearch required" asp-for="RipTypeDoc" asp-items="@SelectListViewModel.DocumentTypeList"></select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="RipDocSeries">Серия</label>
                    <input type="text" class="form-control" placeholder="Серия" asp-for="RipDocSeries">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="RipDocNumber">Номер</label>
                    <input type="text" class="form-control" placeholder="Номер" asp-for="RipDocNumber">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="RipDocIssueDate">Дата выдачи</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input asp-for="RipDocIssueDate" type="text" class="form-control pickdate" placeholder="Дата выдачи">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="RipDocIssuer">Кем выдан</label>
                    <input type="text" class="form-control" placeholder="Кем выдан" asp-for="RipDocIssuer">
                </div>
            </div>
            <br/>
            <h6 class="my-2">Переменил(а) ФИО и другие анкетные данные с</h6>
            <div class="row mb-3">
                 
                <div class="col-3">
                    <label class="form-label" asp-for="ApLastName">Фамилия</label>
                    <input type="text" asp-for="ApLastName" class="form-control" placeholder="Фамилия">
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="ApFirstName">Имя</label>
                    <input type="text" asp-for="ApFirstName" class="form-control" placeholder="Имя">
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="ApSecondName">Отчество</label>
                    <input type="text" asp-for="ApSecondName" class="form-control" placeholder="Отчество">
                </div>
                  <div class="col-3">
                    <label class="form-label" asp-for="ApBirthDate">Дата рождения</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input asp-for="ApBirthDate"  type="text" class="form-control pickdate" placeholder="Дата рождения">
                    </div>
                </div>
                </div>
            <div class="row mb-3">
                <div class="col-4">
                                            <label class="d-block form-label">Пол</label>
                                            <div class="form-check form-check-inline mt-2">
                                                <input class="form-check-input" type="radio"  asp-for="ApGender" value="1" checked="checked">
                                                <label class="form-check-label"  asp-for="ApGender"><i class="bx bx-male fs-3"></i> Мужской</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"  asp-for="ApGender" value="2">
                                                <label class="form-check-label" asp-for="ApGender"><i class="bx bx-female fs-3"></i>Женский</label>
                                            </div>
                </div>
            
                <div class="col-8">
                    <label class="form-label" asp-for="ApAddressBirth">Место рождения(по существующему административно-территориальному делению) </label>
                    <input asp-for="ApAddressBirth"  type="text" class="form-control" placeholder="Место рождения">
                </div>
            </div>
            <hr/>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="RecvizitDoc">Реквизиты документа, послужившего основанием для замены паспорта</label>
                    <input asp-for="RecvizitDoc"  type="text" class="form-control" placeholder="Реквизиты документа, послужившего основанием для замены паспорта">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="RezultSreach">Результаты проверок</label>
                    <input asp-for="RezultSreach"  type="text" class="form-control" placeholder="Результаты проверок">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-10">
                    <label class="form-label" asp-for="Rezult">Принятое решение</label>
                    <input asp-for="Rezult"  type="text" class="form-control" placeholder="Принятое решение">
                </div>
                <div class="col-2">
                    <label class="form-label" asp-for="RezultDate">Дата</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input asp-for="RezultDate"  type="text" class="form-control pickdate" placeholder="Дата">
                    </div>
                </div>
            </div>
            <hr/>
            <br/>
              <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="FioGeneral">ФИО начальника подразделения по вопросам миграции</label>
                    <input asp-for="FioGeneral"  type="text" class="form-control" placeholder="ФИО начальника подразделения по вопросам миграции">
                </div>
            </div>
              <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Reqvest">Поступил запрос из (наименование подразделения)</label>
                    <input asp-for="Reqvest"  type="text" class="form-control" placeholder="наименование подразделения">
                </div>
            </div>
              <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ReasonReqvest">в связи с</label>
                    <input asp-for="ReasonReqvest"  type="text" class="form-control" placeholder="в связи с">
                </div>
            </div>
            <hr/>
            <br/>
                 <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Reaspone">Поступило сообщение из (наименование подразделения по вопросам миграции)</label>
                    <input asp-for="Reaspone"  type="text" class="form-control" placeholder="наименование подразделения по вопросам миграции">
                </div>
            </div>
                 <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ReasonReaspone">об уничтожении в связи с </label>
                    <input asp-for="ReasonReaspone"  type="text" class="form-control" placeholder="об уничтожении в связи с ">
                </div>
            </div>
            <hr/>
            <br/>
             <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="NameRipPasport">Паспорт уничтожен по акту (наименование подразделения по вопросам миграции, уничтожившего паспорт) </label>
                    <input asp-for="NameRipPasport"  type="text" class="form-control" placeholder="наименование подразделения по вопросам миграции, уничтожившего паспорт">
                </div>
            </div>
                   <div class="row mb-3">
                <div class="col-5">
                    <label class="form-label" asp-for="CodeRipPasport">Код подразделения</label>
                    <input asp-for="CodeRipPasport"  type="text" class="form-control" placeholder="Код подразделения">
                </div>
                <div class="col-5">
                    <label class="form-label" asp-for="ActNumberRipPasport">Акт номер</label>
                    <input asp-for="ActNumberRipPasport"  type="text" class="form-control" placeholder="Акт номер">
                </div>
                <div class="col-2">
                    <label class="form-label" asp-for="DateRipPasport">Дата</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input asp-for="DateRipPasport"  type="text" class="form-control pickdate" placeholder="Дата">
                    </div>
                </div>
                </div>
                 <hr/>
                 <br/>
                 <div class="row mb-3">
                       <label class="form-label" asp-for="DopInfo">Другие сведения</label>
                       <textarea class="form-control" asp-for="DopInfo" ></textarea>
                 </div>
        </div>
    </div>
</div>

<script>
     var additionalForm = $('#additional-data-content');
     var originalBlock = $('#originalBlock');
     var btnNext = $('.btn-next');

     var applicant = {
            lastName: $("#LastName"),
            firstName: $("#FirstName"),
            secondName: $("#SecondName"),
            birthDate: $("#BirthDate"),
            snils: $("#SNILS"),
            gender: $("#Gender"),
            phone: $("#Phone"),
            email: $("#Email"),
            docSeries: $("#DocSeries"),
            docNumber: $("#DocNumber"),
            docIssueDate: $("#DocIssueDate"),
            docIssuerCode: $("#DocIssuerCode"),
            addressBirth: $("#AddressBirth"),
            docIssuer: $("#DocIssuer")
     };
var residenceAddress = {
     
            Region: $("#ResidenceAddress_Region"),
            District: $("#ResidenceAddress_District"),
            Locality: $("#ResidenceAddress_Locality"),
            Street: $("#ResidenceAddress_Street"),
            House: $("#ResidenceAddress_House"),
            Housing: $("#ResidenceAddress_Building"),
            Building: $("#ResidenceAddress_Flat")
     };


    $(function()
      {


          
      


        btnNext.on('click', function appContent() {


            applicant.lastName.val($("#customer_LastName").val());
            applicant.firstName.val($("#customer_FirstName").val());
            applicant.secondName.val($("#customer_SecondName").val());
            applicant.birthDate.val($("#customer_DocumentBirthDate").val());
            applicant.phone.val($("#customer_CustomerPhone1").val());
            applicant.email.val($("#customer_CustomerEmail").val());
            applicant.snils.val($("#customer_CustomerSnils").val());
            applicant.docSeries.val($("#customer_DocumentSerial").val());
            applicant.docNumber.val($("#customer_DocumentNumber").val());
            applicant.docIssuerCode.val($("#customer_DocumentCode").val());
            applicant.addressBirth.val($("#customer_DocumentBirthPlace").val());
            applicant.docIssueDate.val($("#customer_DocumentIssueDate").val());
            applicant.docIssuer.val($("#customer_DocumentIssueBody").val());

           
            
                $('#gender1').attr('checked', false);
                $('#gender2').attr('checked', false);
               
                if ($('#customer_CustomerGender1').is(':checked')) {
                    $('#gender1').attr('checked', true);
                    $('#wifi').text('ФИО супруги');
                    $('#whumen').hide();
                    $('#men').show();
                    $('#wifiplace').attr('placeholder','ФИО супруги')
                };

                if($('#customer_CustomerGender2').is(':checked')) {
                   $('#gender2').attr('checked',true);
                    $('#wifi').text('ФИО супруга');
                    $('#men').hide();
                    $('#whumen').show();
                    $('#wifiplace').attr('placeholder', 'ФИО супруга');
                };

                if ($('#service-procedure-table tr.selected').text() == 'Замена паспорта при ошибке, внесение исправлений ') {
                    console.log('Good');
                    $('#core').html(`
                           <option  value="При ошибке, внесение исправлений">При ошибке, внесение исправлений</option>
                           <option  value="При порче паспорта">При порче паспорта </option>
                           <option  value="В связи достижением 20 лет">В связи достижением 20 лет</option>
                           <option  value="В связи достижением 45 лет">В связи достижением 45 лет</option>
                           <option  value="В связи со сменой фамилии">В связи со сменой фамилии</option>
                           <option  value="В связи с достижением 14 лет">В связи с достижением 14 лет</option>
                           <option  value="При утрате (хищении) ранее выданного паспорта">При утрате (хищении) ранее выданного паспорта</option>`)
                };
                if ($('#service-procedure-table tr.selected').text() == 'Замена паспорта при порче') {
                   $('#core').html(`
                           <option  value="При порче паспорта">При порче паспорта </option>
                           <option  value="При ошибке, внесение исправлений">При ошибке, внесение исправлений</option>
                           <option  value="В связи достижением 20 лет">В связи достижением 20 лет</option>
                           <option  value="В связи достижением 45 лет">В связи достижением 45 лет</option>
                           <option  value="В связи со сменой фамилии">В связи со сменой фамилии</option>
                           <option  value="В связи с достижением 14 лет">В связи с достижением 14 лет</option>
                           <option  value="При утрате (хищении) ранее выданного паспорта">При утрате (хищении) ранее выданного паспорта</option>`)
                  };
                if ($('#service-procedure-table tr.selected').text() == 'Оформление, замена паспортов гражданина Российской Федерации') {
                    $('#core').html(`
                           <option  value="Не выбрано">Не выбрано</option>
                           <option  value="При порче паспорта">При порче паспорта </option>
                           <option  value="При ошибке, внесение исправлений">При ошибке, внесение исправлений</option>
                           <option  value="В связи достижением 20 лет">В связи достижением 20 лет</option>
                           <option  value="В связи достижением 45 лет">В связи достижением 45 лет</option>
                           <option  value="В связи со сменой фамилии">В связи со сменой фамилии</option>
                           <option  value="В связи с достижением 14 лет">В связи с достижением 14 лет</option>
                           <option  value="При утрате (хищении) ранее выданного паспорта">При утрате (хищении) ранее выданного паспорта</option>`)
                };
                if ($('#service-procedure-table tr.selected').text() == 'Получение паспорта впервые с достижением 14 лет') {
                     $('#core').html(`
                           <option  value="В связи с достижением 14 лет">В связи с достижением 14 лет</option>
                           <option  value="При порче паспорта">При порче паспорта </option>
                           <option  value="При ошибке, внесение исправлений">При ошибке, внесение исправлений</option>
                           <option  value="В связи достижением 20 лет">В связи достижением 20 лет</option>
                           <option  value="В связи достижением 45 лет">В связи достижением 45 лет</option>
                           <option  value="В связи со сменой фамилии">В связи со сменой фамилии</option>
                           <option  value="При утрате (хищении) ранее выданного паспорта">При утрате (хищении) ранее выданного паспорта</option>`)
                };
                if ($('#service-procedure-table tr.selected').text() == 'Прием документов при замене паспорта в связи достижением 20 лет') {
                      $('#core').html(`
                           <option  value="В связи достижением 20 лет">В связи достижением 20 лет</option>
                           <option  value="В связи с достижением 14 лет">В связи с достижением 14 лет</option>
                           <option  value="При порче паспорта">При порче паспорта </option>
                           <option  value="При ошибке, внесение исправлений">При ошибке, внесение исправлений</option>
                           <option  value="В связи достижением 45 лет">В связи достижением 45 лет</option>
                           <option  value="В связи со сменой фамилии">В связи со сменой фамилии</option>
                           <option  value="При утрате (хищении) ранее выданного паспорта">При утрате (хищении) ранее выданного паспорта</option>`)
                };
                if ($('#service-procedure-table tr.selected').text() == 'Прием документов при замене паспорта в связи достижением 45 лет') {
                     $('#core').html(`
                           <option  value="В связи достижением 45 лет">В связи достижением 45 лет</option>
                           <option  value="В связи достижением 20 лет">В связи достижением 20 лет</option>
                           <option  value="В связи с достижением 14 лет">В связи с достижением 14 лет</option>
                           <option  value="При порче паспорта">При порче паспорта </option>
                           <option  value="При ошибке, внесение исправлений">При ошибке, внесение исправлений</option>
                           <option  value="В связи со сменой фамилии">В связи со сменой фамилии</option>
                           <option  value="При утрате (хищении) ранее выданного паспорта">При утрате (хищении) ранее выданного паспорта</option>`)
                };
                if ($('#service-procedure-table tr.selected').text() == 'Прием документов при замене паспорта в связи со сменой фамилии') {
                     $('#core').html(`
                           <option  value="В связи со сменой фамилии">В связи со сменой фамилии</option>
                           <option  value="В связи достижением 45 лет">В связи достижением 45 лет</option>
                           <option  value="В связи достижением 20 лет">В связи достижением 20 лет</option>
                           <option  value="В связи с достижением 14 лет">В связи с достижением 14 лет</option>
                           <option  value="При порче паспорта">При порче паспорта </option>
                           <option  value="При ошибке, внесение исправлений">При ошибке, внесение исправлений</option>
                           <option  value="При утрате (хищении) ранее выданного паспорта">При утрате (хищении) ранее выданного паспорта</option>`)
                };
                if ($('#service-procedure-table tr.selected').text() == 'Прием документов при утрате (хищении) ранее выданного паспорта') {
                      $('#core').html(`
                           <option  value="При утрате (хищении) ранее выданного паспорта">При утрате (хищении) ранее выданного паспорта</option>
                           <option  value="В связи со сменой фамилии">В связи со сменой фамилии</option>
                           <option  value="В связи достижением 45 лет">В связи достижением 45 лет</option>
                           <option  value="В связи достижением 20 лет">В связи достижением 20 лет</option>
                           <option  value="В связи с достижением 14 лет">В связи с достижением 14 лет</option>
                           <option  value="При порче паспорта">При порче паспорта </option>
                           <option  value="При ошибке, внесение исправлений">При ошибке, внесение исправлений</option>
                           `)
                };
            let str = $("#customer_CustomerAddressResidence").val().split(',');
            residenceAddress.Region.val(str[0]);
            residenceAddress.District.val(str[1]);
            residenceAddress.Street.val(str[2]);
            residenceAddress.House.val(str[3]);
                
            });
       $('#gender1').on('change', function() {
            if ($(this).is(':checked')) {
                
                $('#men').show();
                $('#whumen').hide();
                $('#wifi').text('ФИО супруги');
                $('#wifiplace').attr('placeholder','ФИО супруги')
            }

        });
       
        $('#gender2').on('change', function() {
            if ($(this).is(':checked')) {
                $('#whumen').show();
                $('#men').hide();
                $('#wifi').text('ФИО супруга');
                $('#wifiplace').attr('placeholder','ФИО супруга')
            };
        });
        
       
        originalBlock.find('[data-original]').each(function(_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        additionalForm.find('#addAppliedDocument').on('click', () => addForm('appliedDocumentList', 'appliedDocument'));

        additionalForm.find('[data-disabled]').each(function() {
            visibilityBlock($(this), true, true);
        });
           
        
         additionalForm.find("select.select2-search").each(function() {
            $(this).select2({
                //dropdownParent: $("#mainModal"),
            });
        });

        additionalForm.find("select.select2-nosearch").each(function() {
            $(this).select2({
                minimumResultsForSearch: Infinity,
            });
        });
        
        let options = { clearIncomplete: true, showMaskOnHover: false };
        additionalForm.find('#Phone').inputmask("+7(999) 999-99-99", { clearIncomplete: true, showMaskOnHover: false });
        applicant.docSeries.inputmask("9999", { clearIncomplete: true, showMaskOnHover: false });
        applicant.docNumber.inputmask("999999", { clearIncomplete: true, showMaskOnHover: false  });
        applicant.docIssuerCode.inputmask("999-999", { clearIncomplete: true, showMaskOnHover: false });
        additionalForm.find('#PersonalAccount').inputmask("9{1,}", options);        
        
        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true,
        }).inputmask("99.99.9999", options);

         function select2Init($block) {
            $block.find("select.select2-nosearch").each(function() {
                $(this).select2({
                    minimumResultsForSearch: Infinity
                });
            });

            $block.find("select.select2-search").each(function() {
                $(this).select2({
                });
            });
        }

        function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
            let $cloneList = additionalForm.find(`#${cloneListId}`);
            let $original = originalBlock.find(`#${originalId}`);
            let $cloneBlock = $original.clone(true);
            let indexId = $cloneList.find('[data-clone]').length;
            renameBlock($cloneBlock, indexId);
            blockInit($cloneBlock);
            $cloneList.find("select").each(function() {
                $(this).select2('destroy');
            });
            $cloneList.append($cloneBlock);
            select2Init($cloneList);
        }        

        function blockInit($block) {
            visibilityBlock($block, false, false);

            $block.find("input[type='text']").each(function() {
                $(this).val("");
            });
        }
    });

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `${$cloneBlock.attr("id")}${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function() {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function() {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function(index, item) {
            renameBlock($(item), index);
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
</script>

