@model AisLogistics.App.Models.AdditionalForms.RosreestrModel
<div class="row g-3">
    <div class="col-8 mx-auto">
        <div class="row mb-3">
            <div class="col-12">
                <label class="form-label" asp-for="NumberPKPVD">Регистрационный номер в ПК ПВД</label>
                <input type="text" asp-for="NumberPKPVD" placeholder="Регистрационный номер в ПК ПВД"  class="form-control" />
            </div>
        </div>
    </div>
</div>