@model AisLogistics.DataLayer.Common.Dto.Reference.SmevServiceModelDto
@{
}
<form asp-controller="Reference" asp-action="SmevServiceSave" id="sendingForm" method="post" role="form">
    <div class="form-body pt-1">
        <fieldset>
            @Html.HiddenFor(m => m.Id)

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="SmevMnemo">SID</label>
                    <input type="text" asp-for="SmevMnemo" class="form-control" placeholder="SID">
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="SmevName">Наименование</label>
                    <input type="text" asp-for="SmevName" maxlength="150" class="form-control" placeholder="Наименование">
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="SmevProvider">Владелец</label>
                    <input type="text" asp-for="SmevProvider" class="form-control" placeholder="Владелец">
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="ProviderCode">Код</label>
                    <input type="text" asp-for="ProviderCode" class="form-control" placeholder="Код">
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="ProviderName">Оператор ИС</label>
                    <input type="text" asp-for="ProviderName" class="form-control" placeholder="Оператор ИС">
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="SmevDescription">Описание</label>
                    <input type="text" asp-for="SmevDescription" class="form-control" placeholder="Описание">
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="ProviderUrl">Адрес</label>
                    <input type="text" asp-for="ProviderUrl" maxlength="255" class="form-control" placeholder="Адрес">
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <input type="checkbox" asp-for="IsSmev3" class="checkbox">
                    <label class="form-label" asp-for="IsSmev3">СМЭВ 3</label>
                </div>
            </div>
        </fieldset>
    </div>
</form>

<script>
    $(document).ready(function() {
        const fv = FormValidation.formValidation(document.getElementById('sendingForm'),
            {
                fields: {
                    SmevName: {
                        validators: {
                            notEmpty: {
                                message: '@MessageDescription.FieldIsRequired'
                            }
                        }
                    },
                    ProviderUrl : {
                        validators: {
                            notEmpty: {
                                message: '@MessageDescription.FieldIsRequired'
                            }
                        }
                    }
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    submitButton: new FormValidation.plugins.SubmitButton(),
                    bootstrap5: new FormValidation.plugins.Bootstrap5(),
                    autoFocus: new FormValidation.plugins.AutoFocus()
                }
            }) .on('core.form.valid', function() {
            var $form = $("#sendingForm");
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                dataType: 'json',
                beforeSend: () => {
                    $form.spinnerBtn("start");
                },
                complete: () => {
                    $table.DataTable().ajax.reload(null, false);
                    $form.spinnerBtn("stop");
                    $("#mainModal").modal('hide');
                }
            });
            return false;
        });
    });
</script>
