@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex mb-3 gap-3">
                <div>
                    <span class="badge bg-label-primary rounded-2 p-2">
                        <i class="bi bi-info-circle fs-3 lh-1"></i>
                    </span>
                </div>
                <div>
                    <h5 class="mb-0">
                        <span class="align-middle">Информация</span>
                    </h5>
                    <span>Get help with payment</span>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="avatar avatar-md me-3">
                            <span class="avatar-initial rounded-circle">Ш</span>
                        </div>
                        <div class="card-title mb-0 pt-1">
                            <h5 class="mb-0 mb-n1">Абдурашидов Ш. А.</h5>
                            <small class="text-muted">Инженер-программист</small>
                            <span class="text-muted px-1">|</span>
                            <small class="text-muted">@DateTime.Today.ToLongDateString()</small>
                        </div>
                    </div>
                    <div class="pb-1 pt-2">
                        <span class="badge bg-label-primary rounded-pill">Служебное письмо</span>
                    </div>
                    <p class="card-text">Заключено дополнительное соглашение с Минтрудом РД о внедрении новой государственной услуги на площадках МФЦ</p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="page-blog-detail.html#blogComment">
                            <div class="d-flex align-items-center text-body">
                                <i class="bi bi-menu-button-wide pe-1"></i>
                                <span class="fw-bold">Вложения</span>
                            </div>
                        </a>
                        <a href="page-blog-detail.html" class="fw-bold">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    @* <h4 class="card-title">
                        <a href="#" class="">
                            Заключено дополнительное соглашение с Минтрудом РД о внедрении новой государственной услуги на площадках МФЦ
                        </a>
                    </h4>*@
                    <div class="d-flex">
                        <div class="avatar avatar-md me-3">
                            <span class="avatar-initial rounded-circle">Ш</span>
                        </div>
                        <div class="card-title mb-0 pt-1">
                            <h5 class="mb-0 mb-n1">Абдурашидов Ш. А.</h5>
                            <small class="text-muted">Инженер-программист</small>
                            <span class="text-muted px-1">|</span>
                            <small class="text-muted">@DateTime.Today.ToLongDateString()</small>
                        </div>
                    </div>
                    <div class="pb-1 pt-2">
                        <span class="badge bg-label-primary rounded-pill">Служебное письмо</span>
                    </div>
                    <p class="card-text">Заключено дополнительное соглашение с Минтрудом РД о внедрении новой государственной услуги на площадках МФЦ</p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="page-blog-detail.html#blogComment">
                            <div class="d-flex align-items-center text-body">
                                <i class="bi bi-menu-button-wide pe-1"></i>
                                <span class="fw-bold">Вложения</span>
                            </div>
                        </a>
                        <a href="page-blog-detail.html" class="fw-bold">Подробнее</a>
                    </div>
                </div>
            </div>