@using System.Text;
@using AisLogistics.App.ViewModels.Reports


@model ReportNavViewRequestModel
@{
    ViewData["ActiveTabId"] = Model.NavId;
}
  
<ul class="nav tabs-line" role="tablist">
    @foreach(var item in Model.Reports) {
        <li class="nav-item">
            <a class="nav-link @(item.Id.ToString()==Model.NavId ? "active active-color" : string.Empty)" data-bs-target="#navs-tabs-default" href="@Url.Action("MainReport", "Reports", new {navId=@item.Id.ToString(), urlAction=@item.Path})" id="@item.Id.ToString()" role="tab">@item.Name</a>
        </li>
    }
</ul>



