@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
}

<link rel="stylesheet" href="~/assets/css/reports.css" asp-append-version="true" />
<section id="content-report" class="d-flex">
    <div class="col-2">
        <partial name="_NavLeft" model=@Model.Model />
    </div>
    <div class="shadow-none w-100 my-auto">
        <h3 class="text-center">Выберите отчет</h3>
    </div>
</section>
