@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
}

<section id="content-report">
    <div class="nav-align-left">
        <partial name="_NavLeft" model=@Model.Model />
        <div class="shadow-none w-100 my-auto">
            <h3 class="text-center">Выберите отчет</h3>
        </div>
    </div>
</section>
