.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecee !important;
    opacity: 1;
}
.select2-selection--multiple .select2-search__field {
    width: 100% !important;
    padding-left: .3rem !important;
}
.dropdown-notifications-item:not(.marked-as-read) p,
.dropdown-notifications-item:not(.marked-as-read) h6 {
    font-weight: 900 !important;
}
.sk-dark .sk-wave-rect {
    background-color: var(--bs-body-color) !important;
}
.dark-style .sk-dark .sk-wave-rect {
    background-color: var(--sk-color) !important;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
} 
div.dataTables_wrapper div.dataTables_filter label {
    width: 100%;
}
div.dataTables_wrapper div.dataTables_filter input {
    width: 100%;
}

.navbar-dropdown.dropdown-notifications .dropdown-menu {
    min-width: 17rem !important;
}

.badge.badge-up {
    position: absolute;
    top: -11px;
    right: -9px;
    min-width: 1.429rem;
    min-height: 1.429rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: .786rem;
    line-height: .786;
    padding-left: .25rem;
    padding-right: .25rem;
}

.suggestions-promo {
    display: none !important;
}
.suggestions-promo a {
    display: none !important;
}
.suggestions-suggestions {
    border: 0 solid transparent;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.26);
    /* box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 25%);*/
    animation: dropdownAnimation .1s;
}

.dark-style .suggestions-suggestions {
    background: #283144;
}
.dark-style .suggestions-selected {
    background: #f0f0f0;
}
.dark-style .suggestions-suggestion:hover {
    background: rgba(99,123,169,.06);
    cursor: pointer;
}
.dark-style .suggestions-selected:hover {
    background: #d8deea;
}
.dark-style .suggestions-hint {
    color: #d8deea;
}
.dark-style .suggestions-subtext {
    color: #777;
}
.dark-style .suggestions-subtext_label {
    background: #f5f5f5;
}

.dark-style table.dataTable tbody tr.selected, 
.dark-style table.dataTable tbody th.selected, 
.dark-style table.dataTable tbody td.selected {
    color: #ffffff !important;
}

.dark-style table.dataTable tbody > tr.selected,
.dark-style table.dataTable tbody > tr > .selected {
    background-color: rgb(90,141,238) !important;
}

.dark-style table.table-hover > tbody > tr.selected:hover > * {
    --bs-table-accent-bg: rgb(90,141, 238) !important;
    color: #ffffff !important;
}

.light-style table.dataTable tbody tr.selected, 
.light-style table.dataTable tbody th.selected, 
.light-style table.dataTable tbody td.selected {
    color: #ffffff !important;
}

.light-style table.dataTable tbody > tr.selected,
.light-style table.dataTable tbody > tr > .selected {
    background-color: rgb(90, 141, 238) !important;
}
.light-style table.table-hover > tbody > tr.selected:hover > * {
    --bs-table-accent-bg: rgb(90, 141, 238) !important;
    color: #ffffff !important;
}
/*.table.dataTable th, .table.dataTable td {
    padding: 0.75rem 0.5rem;
}*/

.table.dataTable td del {
    /*color: red*/
}

svg.font-medium-2 {
    height: 1.2rem !important;
    width: 1.2rem !important;
}

.table.no-thead thead {
    display: none;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: rgba(89,141,238, 0.15);
}

.table-fixed-search {
    padding: 0.51rem 0.1rem;
    border-bottom: 1px solid #DFE3E7;
    /*background-color: #FFF;*/
    border-top-right-radius: 0.267rem;
    padding: 0px;
}

.table-fixed-search input {
    border: 0;
    font-family: 'IBM Plex Sans',Helvetica,Arial,serif;
}

.table-fixed-search input:focus {
    box-shadow: none;
}

/*toast*/
/* Version 2.1.4 */

.toast-title {
    font-weight: bold;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.toast-message a,
.toast-message label {
    color: #FFFFFF;
}

.toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    line-height: 1;
}

.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

.rtl .toast-close-button {
    left: -0.3em;
    float: left;
    right: 0.3em;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

.toast-container {
    position: fixed;
    z-index: 9999999999 !important;
    pointer-events: none;
}

.toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .toast-container > div {
        position: relative;
        pointer-events: auto;
        overflow: hidden;
        margin: 0 0 6px;
        padding: 15px 15px 15px 50px;
        width: 300px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
        background-position: 15px center;
        background-repeat: no-repeat;
        -moz-box-shadow: 0 0 12px #999999;
        -webkit-box-shadow: 0 0 12px #999999;
        box-shadow: 0 0 12px #999999;
        color: #FFFFFF;
        opacity: 0.8;
    }

.toast-container > div.rtl {
    direction: rtl;
    padding: 15px 50px 15px 15px;
    background-position: right 15px center;
}

.toast-container > div:hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}

.toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

.toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

.toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

.toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

.toast-container.toast-top-center > div,
.toast-container.toast-bottom-center > div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.toast-container.toast-top-full-width > div,
.toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #51A351;
}

.toast-error {
    background-color: #BD362F;
}

.toast-info {
    background-color: #2F96B4;
}

.toast-warning {
    background-color: #F89406;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}
.mail-message-wrapper .accordion .accordion-item:last-child {
    border-bottom: 0 solid #d4d8dd !important;
}

.dark-style .dark-d-none {
    display: none;
}

.light-style .light-d-none {
    display: none;
}

.gal-box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px -2px #ccc, 0 2px 6px 0 #ccc;
    margin-bottom: 24px;
}
.gal-box .image-popup {
    padding: 10px;
    display: block;
}
.gal-box .image-popup img {
    cursor: zoom-in;
}
.gal-box .gall-info {
    padding: 15px;
    border-top: 1px solid #eceff1;
    position: relative;
}
.mfp-bg {
    z-index: 1100;
}
.mfp-wrap {
    z-index: 1101;
}
.custom-option-basic .custom-option-content.content-sm {
    padding: 0.65em;
    padding-left: 2.7em;
}
/*Responsive Design*/
@media all and (max-width: 240px) {
    .toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }

    .toast-container > div.rtl {
        padding: 8px 50px 8px 8px;
    }

    .toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }

    .toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: 0.2em;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    .toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }

    .toast-container > div.rtl {
        padding: 8px 50px 8px 8px;
    }

    .toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }

    .toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: 0.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    .toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }

    .toast-container > div.rtl {
        padding: 15px 50px 15px 15px;
    }
}

/*  BEGIN: NavTagHelpers CSS */
.nav-top > .nav-item > .nav-link.active {
    box-shadow: 0px -2px 0 #5a8dee inset !important;
}
/* END: NavTagHelpers CSS */