@model AisLogistics.App.Models.AdditionalForms.Municipal.DouModel
@{
    IEnumerable<SelectListItem> Inform = new List<SelectListItem>
    {
        new("телефону", "телефону"),
        new("почте", "почте"),
        new("электронной почте", "электронной почте")
    };
}

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <h5 class="my-2">Заявитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Fio">Ф.И.О.</label>
                    <input type="text" asp-for="Fio" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ResidenceAddress">Адрес регистрации</label>
                    <input type="text" asp-for="ResidenceAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="FactAddress">Фактический адрес проживания</label>
                    <input type="text" asp-for="FactAddress" class="form-control">
                </div>
            </div>
            <br />
            <h5 class="my-2">Ребенок</h5>
            <div class="row mb-3">
                <div class="col-9">
                    <label class="form-label" asp-for="FioChild">Ф.И.О.</label>
                    <input type="text" asp-for="FioChild" class="form-control">
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="DateChild">Дата рождения </label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="DateChild" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="BirthCertificates">Реквизиты свидетельства о рождении</label>
                    <input type="text" asp-for="BirthCertificates" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="FactAddressChild">Адрес места жительства (места пребывания, места фактического проживания) ребенка</label>
                    <input type="text" asp-for="FactAddressChild" class="form-control">
                </div>
            </div>
            <br />
            <h5 class="my-2">Мама</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Mother.Fio">Ф.И.О.</label>
                    <input type="text" asp-for="Mother.Fio" class="form-control">
                </div>
            </div>
            <h6 class="my-2">Сведения о документе, удостоверяющем личность</h6>
            <div class="row mb-3" data-doc>
                <div class="col-12">
                    <label class="form-label" asp-for="Mother.DocType">Тип документа</label>
                    <select class="select2-nosearch" asp-for="Mother.DocType" data-value-value
                            data-dictionary='{"dictionary":"FnsDocTypes"'>
                    </select>
                </div>
                <div class="col-4 mt-2">
                    <label class="form-label" asp-for="Mother.DocSeries">Серия</label>
                    <input type="text" class="form-control" asp-for="Mother.DocSeries">
                </div>
                <div class="col-4 mt-2">
                    <label class="form-label" asp-for="Mother.DocNumber">Номер</label>
                    <input type="text" class="form-control" asp-for="Mother.DocNumber">
                </div>
                <div class="col-4 mt-2">
                    <label class="form-label" asp-for="Mother.IssuedDate">Дата выдачи</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="Mother.IssuedDate" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <label class="form-label" asp-for="Mother.IssuedBy">Орган выдачи</label>
                    <input type="text" class="form-control required" asp-for="Mother.IssuedBy">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label" asp-for="Mother.Phone">Контактные телефон</label>
                    <input type="text" asp-for="Mother.Phone" class="form-control">
                </div>
                <div class="col-6">
                    <label class="form-label" asp-for="Mother.Email">E-mail </label>
                    <input type="text" asp-for="Mother.Email" class="form-control">
                </div>
            </div>
            <br />
            <h5 class="my-2">Папа</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Father.Fio">Ф.И.О. </label>
                    <input type="text" asp-for="Father.Fio" class="form-control">
                </div>
            </div>
            <h6 class="my-2">Сведения о документе, удостоверяющем личность</h6>
            <div class="row mb-3" data-doc>
                <div class="col-12">
                    <label class="form-label" asp-for="Father.DocType">Тип документа</label>
                    <select class="select2-nosearch" asp-for="Father.DocType" data-value-value
                            data-dictionary='{"dictionary":"FnsDocTypes"}'>
                    </select>
                </div>
                <div class="col-4 mt-2">
                    <label class="form-label" asp-for="Father.DocSeries">Серия</label>
                    <input type="text" class="form-control" asp-for="Father.DocSeries">
                </div>
                <div class="col-4 mt-2">
                    <label class="form-label" asp-for="Father.DocNumber">Номер</label>
                    <input type="text" class="form-control" asp-for="Father.DocNumber">
                </div>
                <div class="col-4 mt-2">
                    <label class="form-label" asp-for="Father.IssuedDate">Дата выдачи</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="Father.IssuedDate" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <label class="form-label" asp-for="Father.IssuedBy">Орган выдачи</label>
                    <input type="text" class="form-control required" asp-for="Father.IssuedBy">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label" asp-for="Father.Phone">Контактный телефон </label>
                    <input type="text" asp-for="Father.Phone" class="form-control">
                </div>
                <div class="col-6">
                    <label class="form-label" asp-for="Father.Email">E-mail </label>
                    <input type="text" asp-for="Father.Email" class="form-control">
                </div>
            </div>
            <hr />
            <br />
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Guardianship">Реквизиты документа, подтверждающего установление опеки (при наличии)</label>
                    <input type="text" asp-for="Guardianship" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="KindergartenLanguage">Выбор языка образования, родного языка из числа языков народов Российской Федерации, в том числе русского языка как родного языка</label>
                    <input type="text" asp-for="KindergartenLanguage" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="SpecialConditions">Потребность в обучении ребенка по адаптированной образовательной программе дошкольного образования и (или) в создании специальных условий для организации обучения и воспитания ребенка-инвалида в соответствии с индивидуальной программой реабилитации инвалида (при наличии)</label>
                    <input type="text" asp-for="SpecialConditions" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Focus">Направленность дошкольной группы</label>
                    <input type="text" asp-for="Focus" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-5">
                            <div class="row">
                                <label class="form-label">Необходимый режим пребывания ребенка</label>
                                <div class="col-6">
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">
                                            с
                                        </span>
                                        <input type="time" asp-for="With" class="form-control">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">
                                            до
                                        </span>
                                        <input type="time" asp-for="Before" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <label class="form-label" asp-for="DesiredDate">Желаемая дата приема на обучение:</label>
                            <div class="col-12">
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">
                                        <i class="bi bi-calendar3"></i>
                                    </span>
                                    <input asp-for="DesiredDate" type="text" class="form-control pickdate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="NamePreschool">Наименование дошкольной образовательной организации</label>
                    <input type="text" asp-for="NamePreschool" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="NameAvailability">Наличие права на специальные меры поддержки (гарантии) отдельных категорий граждан и их семей (при необходимости)</label>
                    <input type="text" asp-for="NameAvailability" class="form-control">
                </div>
            </div>
            <br />
            <h6 class="my-2">При наличии у ребенка братьев и (или) сестер, проживающих в одной с ним семье и имеющих общее с ним место жительства</h6>
            <div id="appliedDocumentList" data-clone-list>
                @for (var i = 0; i < Model.AppliedDocumentList.Length; i++)
                {
                    <div class="g-3" id="clone@(i)" data-id="@i" data-clone>
                        <div class="row mb-3 align-items-end">
                            <div class="col-11">
                                <label class="form-label" asp-for="AppliedDocumentList[i].Name">Ф.И.О</label>
                                <input type="text" class="form-control" asp-for="AppliedDocumentList[i].Name">
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addAppliedDocument"><i class="bi bi-plus"></i></button>
                </div>
            </div>
            <br />
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Issue">при личном обращении направление выдать в</label>
                    <input type="text" asp-for="Issue" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm">
                    <label class="input-text" asp-for="Inform">информировать о результатах предоставления муниципальной услуги по</label>
                    <select class="select2-nosearch" asp-for="Inform" asp-items="@Inform"> </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="originalBlock">
    <div class="g-3" id="appliedDocument" data-id="" data-original>
        <div class="row mb-3 align-items-end">
            <div class="col-11">
                <label class="form-label" asp-for="AppliedDocumentList[0].Name">Ф.И.О.</label>
                <input type="text" class="form-control" asp-for="AppliedDocumentList[0].Name">
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger content-center" onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
</div>

<script>

    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');
    var btnNext = $('.btn-next');

    btnNext.on('click', function appContent() {
        additionalForm.find('#Fio').val($("#customer_LastName").val() + ' ' + $("#customer_FirstName").val() + ' ' + $("#customer_SecondName").val());
        additionalForm.find('#FactAddress').val($("#customer_CustomerAddressResidence").val());
        additionalForm.find('#ResidenceAddress').val($("#customer_CustomerAddress").val());
        /*applicant.birthDate.val($("#customer_DocumentBirthDate").val());
        applicant.phone.val($("#customer_CustomerPhone1").val());
        applicant.SNILS.val($("#customer_CustomerSnils").val());
        applicant.docSeries.val($("#customer_DocumentSerial").val());
        applicant.docNumber.val($("#customer_DocumentNumber").val());
        applicant.email.val($("#customer_CustomerEmail").val());
        applicant.docIssueDate.val($("#customer_DocumentIssueDate").val());
        applicant.docIssuer.val($("#customer_DocumentIssueBody").val());
        applicant.residenceAddress.val($("#customer_CustomerAddressResidence").val());
        applicant.birthAddress.val($("#customer_DocumentBirthPlace").val());*/
    });

    $(function () {
        originalBlock.find('[data-original]').each(function (_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        additionalForm.find('#addAppliedDocument').on('click', () => addForm('appliedDocumentList', 'appliedDocument'));

        additionalForm.find('[data-disabled]').each(function () {
            visibilityBlock($(this), true, true);
        });

        select2Init(additionalForm);
        let options = { clearIncomplete: true, showMaskOnHover: false };
        additionalForm.find('#Phone').inputmask("9{1,15}", options);

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true,
        }).inputmask("99.99.9999", options);

        function select2Init($block) {
            $block.find("select.select2-nosearch").each(function () {
                $(this).select2({
                    minimumResultsForSearch: Infinity
                });
            });

            $block.find("select2-search").each(function () {
                $(this).select2({
                });
            });
        }

        function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
            let $cloneList = additionalForm.find(`#${cloneListId}`);
            let $original = originalBlock.find(`#${originalId}`);
            let $cloneBlock = $original.clone(true);
            let indexId = $cloneList.find('[data-clone]').length;
            renameBlock($cloneBlock, indexId);
            blockInit($cloneBlock);
            $cloneList.find("select").each(function () {
                $(this).select2('destroy');
            });
            $cloneList.append($cloneBlock);
            select2Init($cloneList);
        }

        function blockInit($block) {
            visibilityBlock($block, false, false);

            $block.find("input[type='text']").each(function () {
                $(this).val("");
            });
        }
    });

    additionalForm.find("select.select2-search").each(function () {
        $(this).select2({
            //dropdownParent: $("#mainModal"),
        });
    });

    additionalForm.find("select.select2-nosearch").each(function () {
        $(this).select2({
            minimumResultsForSearch: Infinity,
        });
    });

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `${$cloneBlock.attr("id")}${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function () {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function () {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }


    $('#Father_DocType').on('change', function () {
        let $block = $(this).closest('[data-doc]');
        let options = { clearIncomplete: true, showMaskOnHover: false };
        switch ($(this).val()) {
            case 'Паспорт гражданина Российской Федерации':
                $('#Father_DocSeries').inputmask("9999", options);
                $('#Father_DocNumber').inputmask("999999", options);
                break;
            case 'Свидетельство о рождении':
                $('#Father_DocSeries').inputmask("", { regex: "^[XIVLMC]{1,4}-[А-ЯЁ]{2}$", clearIncomplete: true, showMaskOnHover: false });
                $('#Father_DocNumber').inputmask("", options);
                break;
            default:
                $('#Father_DocSeries').inputmask("", options);
                $('#Father_DocNumber').inputmask("", options);
                break;
        };
    });

    $('#Mother_DocType').on('change', function () {
        let $block = $(this).closest('[data-doc]');
        let options = { clearIncomplete: true, showMaskOnHover: false };
        switch ($(this).val()) {
            case 'Паспорт гражданина Российской Федерации':
                $('#Mother_DocSeries').inputmask("9999", options);
                $('#Mother_DocNumber').inputmask("999999", options);
                break;
            case 'Свидетельство о рождении':
                $('#Mother_DocSeries').inputmask("", { regex: "^[XIVLMC]{1,4}-[А-ЯЁ]{2}$", clearIncomplete: true, showMaskOnHover: false });
                break;
            default:
                $('#Mother_DocSeries').inputmask("", options);
                $('#Mother_DocNumber').inputmask("", options);
                break;
        };
    });

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function (index, item) {
            renameBlock($(item), index);
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }
        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function () {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function () {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }

    (function getDictionaries() {
        let dicts = new Set();
        $('[data-dictionary]').each(function () {
            let $this = $(this);
            let options = $this.data('dictionary');
            if (!dicts.has(options.dictionary)) {
                dicts.add(options.dictionary);
                $.post(`/SmevBase/SmevGetDictionary`,
                    {
                        type: options.dictionary
                    },
                    function (dictionary) {
                        if (dictionary.error) return;
                        fillSelect(options.dictionary, dictionary);
                    });
            }
        });
    }());

    function fillSelect(dictName, dictionary) {
        $.each($(`[data-dictionary*='"${dictName}"']`),
            function () {
                let $this = $(this);
                let items = dictionary;
                $this.empty();
                if (!$this.hasClass('required')) {
                    $this.append(new Option('Не выбрано', ''));
                }
                if ($this.is('[data-value-value]')) {
                    items.dictionary.forEach(function (item) {
                        $this.append(new Option(item.value, item.value));
                    });
                } else {
                    items.dictionary.forEach(function (item) {
                        $this.append(new Option(item.value, item.key));
                    });
                }
                if ($this.data('dictionary').default_value) {
                    let defVal = $this.data('dictionary').default_value;
                    $this.val(defVal).trigger('update');
                    $this.attr('data-def', defVal);
                } else {
                    $this.val('').trigger('update');
                }
            });
    }
</script>

