@using AisLogistics.App.Models.Queue

<link rel="stylesheet" href="~/assets/css/queue-details.css" asp-append-version="true" />

<style>
    .fs-14 {
        font-size: 14px;
    }

    .queue_wrapper {
        margin: 0 2rem;
    }

    .scoreboard_wrapper {
        display:flex;
        
    }

    .w-80 {
        width: 80%;
    }

    .queue-list_wrapper ul.list-group {
        max-height: 190px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .queue-list_wrapper ul.list-group::-webkit-scrollbar {
        width: 5px;
        background-color: #fff;
    }

    .queue-list_wrapper ul.list-group::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #077EFA;
    }

    .queue-list_wrapper .list-group-item:first-child {
        padding-top: 0;
    }

     .bi-people-fill{
        font-size: 1.85rem !important; 
    }
</style>

<div class="col-sm-auto col-auto header_notification" id="electronicQueue">
    <a class="dropdown-toggle hidden-arrow"
        href="javascript:void(0);"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false">
        <i class="bi bi-people header-icon"></i>
        <span class="badge rounded-pill badge-notification bg-danger" id="queueHeadCountAbon"></span>
        <span class="fw-bold ms-2">
            <span id="electronicQueueActiveNum">Л040</span>
            <span id="electronicQueueActiveTime" class="is-countdown"><span class="countdown-row countdown-amount">36:45</span></span>
        </span>
    </a>

    @*<div class="dropdown-menu dropdown-menu-end dropdown-arrow dropdown-lg scoreboard-dropdown" id="electronicQueueContent">
        <div class="row no-gutters justify-content-end">
            <div class="col-12 position-static queue-width">
                <div class="queue-height-25 m-2">
                    <div class="d-flex justify-content-between">
                        <div>
                            Окно: <span id="queueMyWindowNum"></span>
                        </div>
                        <div>
                            <span id="queueActiveTime"></span>
                        </div>
                    </div>
                </div>
                <div class="scoreboard bx-shadow m-2">
                    <!-- номер абонента -->
                    <h2 class="text-success line_text"> --- </h2>
                    <input class="input" id="queue_num" name="queue_num" type="hidden">
                </div>
                <div class="queue-height-25 m-2">
                    Всего клиентов: <span id="queueAllAbonentsCount"></span>
                </div>
                <div class="m-2">
                    <div class="btn-group  w-100" role="group">
                        <!-- показать список людей в очереди -->
                        <button type="button" class="btn btn-success btn-submenu btn-width-badge waves-effect waves-light count-abon">
                            <span class="badge bg-danger badge-left count-abon"></span>
                            <i class="bi bi-list-ul"></i>
                        </button>
                        <!-- вызов следующего -->
                        <button type="button" class="btn btn-success flex-grow-1 waves-effect waves-light" data-queue-next="0">Вызвать</button>
                    </div>
                    <div id="scoreboard-next" class="scoreboard-submenu bx-shadow custom-scrollbar">
                        <h6 class="m-0 pb-3 text-center border-bottom">На очереди</h6>
                        <!-- список людей в очереди -->
                        <ul class="list-unstyled h-100"></ul>
                    </div>
                </div>
                <div class="m-2">
                    <div class="btn-group btn-group-block w-100" role="group">
                        <!-- показать список людей в очереди -->
                        <button type="button" class="btn btn-info btn-submenu btn-width-badge waves-effect waves-light count-abon">
                            <span class="badge bg-danger badge-left redirect-abon"></span>
                            <i class="bi bi-box-arrow-rightt"></i>
                        </button>
                        <!-- вызов следующего -->
                        <button type="button" class="btn btn-info flex-grow-1 waves-effect waves-light">Передать</button>
                    </div>
                    <div id="scoreboard-redirect-list" class="scoreboard-submenu bx-shadow custom-scrollbar">
                        <h6 class="m-0 pb-3 text-center border-bottom">Передать</h6>
                        <!-- список людей в очереди -->
                        <ul class="list-unstyled h-100"></ul>
                    </div>
                </div>
                <div class="m-2">
                    <div class="btn-group btn-group-block w-100" role="group">
                        <!-- показать список людей в очереди -->
                        <button type="button" class="btn btn-beige btn-submenu btn-width-badge waves-effect waves-light count-abon">
                            <span class="badge bg-danger badge-left deferred-abon"></span>
                            <i class="bi bi-clock-history"></i>
                        </button>
                        <!-- вызов следующего -->
                        <button type="button" class="btn btn-beige flex-grow-1 waves-effect waves-light">Отложить</button>
                    </div>
                    <div id="scoreboard-deferred" class="scoreboard-submenu bx-shadow custom-scrollbar">
                        <h6 class="m-0 pb-3 text-center border-bottom">Отложенные</h6>
                        <!-- список людей в очереди -->
                        <ul class="list-unstyled h-100"></ul>
                    </div>
                </div>
                <div class="m-2">
                    <div class="btn-group btn-group-block w-100" role="group">
                        <button type="button" class="btn btn-danger flex-grow-1 waves-effect waves-light" data-queue-next="1">Завершить</button>
                    </div>
                </div>
                <div class="m-2">
                    <div class="btn-group btn-group-block w-100" role="group">
                        <button type="button" class="btn btn-secondary btn-submenu btn-submenu-max flex-grow-1 w-100 waves-effect waves-light registration">Пред. запись</button>
                    </div>
                    <div id="scoreboard-registration" class="scoreboard-submenu bx-shadow custom-scrollbar">
                        <h6 class="m-0 pb-3 text-center border-bottom">Пред. запись</h6>
                        <!-- список людей в очереди -->
                        <ul class="list-unstyled h-100">
                            <li class="d-flex justify-content-between align-items-center p-2 border-bottom"><a asp-controller="Queue" asp-action="AddPreRegestrationModal" data-bs-toggle="tooltip" data-btn-type="modal" class="btn btn-success btn-sm waves-effect waves-light w-100">Записать</a></li>
                            <li class="d-flex justify-content-between align-items-center p-2 border-bottom"><a asp-controller="Queue" asp-action="AddCancelPreRegestrationModal" data-bs-toggle="tooltip" data-btn-type="modal" class="btn btn-danger btn-sm waves-effect waves-light w-100">Отменить</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="dropdown-menu dropdown-menu-end dropdown-arrow dropdown-lg scoreboard-dropdown p-0" id="electronicQueueContent">
        <div class="row my-3">
            <div class="col-12 mb-3">
                <div class="queue_wrapper">
                    <div class="d-flex justify-content-between fs-14">
                        <div class="text-muted">
                            Окно: <span id="queueMyWindowNum">12</span>
                        </div>
                        <div>
                            <span id="queueActiveTime">15:23</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="queue_wrapper">
                    <div class="w-80 mx-auto mb-3">
                        <div class="d-flex justify-content-center align-content-center">
                            <!-- номер абонента -->
                            <h1 class="text-primary line_text">A101</h1>
                            <input class="input" id="queue_num" name="queue_num" type="hidden">
                        </div>
                    </div>
                    <div class="w-80 mx-auto mb-3">
                        <div class="d-flex justify-content-center align-content-center">
                            <div class="btn-group w-100" role="group">
                                <button type="button" class="btn btn-success shadow-none border-end border-2 border-white flex-grow-0 count-abon">
                                    <i class="bi bi-list-ul"></i>
                                </button>
                                <button type="button" class="btn btn-success shadow-none flex-grow-1" data-queue-next="0">Вызвать</button>
                            </div>
                        </div>
                    </div>
                    <div class="w-80 mx-auto">
                        <div class="d-flex justify-content-around align-content-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn shadow-none pe-0 redirect-abon">
                                    <i class="bi bi-box-arrow-right"></i>
                                </button>
                                <button type="button" class="btn shadow-none queue-redirect">Передать</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn shadow-none pe-0 deferred-abon">
                                    <i class="bi bi-clock-history"></i>
                                </button>
                                <button type="button" class="btn shadow-none queue-deferred">Отложить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="border-bottom"></div>
            </div>
            <div class="col-12 mb-3">
                <div class="queue_wrapper">
                    <div class="d-flex flex-column">
                        <button type="button" class="btn shadow-none" data-queue-next="1">Завершить</button>
                        <button type="button" class="btn shadow-none">Записать</button>
                        <button type="button" class="btn shadow-none">Отменить</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div id="scoreboard" class="queue_wrapper queue-list_wrapper" style="display: none;">
                    <div class="text-muted mb-2">Талоны</div>
                    <ul class="list-group list-group-flush"></ul>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="~/assets/vendor/libs/jquery/jquery.js"></script>
@*<script src="~/assets/js/pages/queue-details.js"></script>*@

