@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли Ваш пароль?";
}
<style>
    .in {
        border-radius: 4px;
        background-color: #5a8dee;
        opacity: 100%;
    }

    input[type="password"]:hover, input[type="text"]:hover {
        background: #F2F2F2 !important;
    }

    input{
        border-color: #F2F2F2 !important;
        background: #F2F2F2 !important;
        border-radius: 4px !important;
        color: #BEBEBE;
    }
    input:-webkit-autofill, input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
</style>
<!-- Forgot Password -->@*
<h4 class="mb-2">Забыли пароль? 🔒</h4>
<p class="mb-4">Введите адрес электронной почты, и мы вышлем вам инструкции по сбросу пароля</p>*@
<form id="formAuthentication" class="mb-3" method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        @*<label asp-for="Input.Email" class="form-label">Электронная почта</label>*@
        <div class="h-100 w-100 ps-2 in">
            <input asp-for="Input.Email" type="text" class="form-control" placeholder="Введите адрес электронной почты" autofocus>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    </div>
    <button class="mt-3 btn btn-primary d-grid w-100">Сброс пароля</button>
</form>
<div class="text-center">
    <a asp-page="./Login" class="d-flex align-items-center justify-content-center">
        <i class="bi bi-chevron-left scaleX-n1-rtl"></i>
        Вернуться на страницу входа
    </a>
</div>
<!-- /Forgot Password -->