@using AisLogistics.App.Models.DTO.ReestrUnclaimedDocuments
@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
    var data = Model.Model as List<ReestrUnclaimedDocumentsDto>;
    var isView = (bool)ViewBag.CasesAllView;
}

<style>
    .cursor-pointer {
        cursor: pointer;
    }

    .Unclaimed_Wrapper {
        height: 50rem;
    }

    .Unclaimed-table_Wrapper {
        height: 49rem;
    }

    .casesUnclaimed_Wrapper {
        height: 43rem;
    }

    .Unclaimed-menu-column {
        /*       width: 3.5em;
                    max-width: 3.5em;*/
    }
</style>

<section>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    @if (isView)
                                    {
                                        <select id="selectOfficeFilter" class="form-select"><option value="@Guid.Empty">ВСЕ</option>@Html.Raw(ViewBag.Mfc)</select>
                                    }
                                </div>
                                <div class="col-4 text-end">
                                    <a asp-controller="ReestrUnclaimedDocuments" asp-action="UnclaimedDocumentsChangeModalAdd" class="btn btn-primary" data-btn-type="modal" data-bs-toggle="tooltip">Добавить</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="Unclaimed_Wrapper" id="Unclaimed_Wrapper">
                        @{
                            await Html.RenderPartialAsync("_PartialReestrUnclaimedDocuments", data);
                        }
                    </div>
                </div>
                <div class="col-8">
                    <div class="card" id="empty-table">
                        <div class="card-body">
                            <div class="alert alert-primary m-0" role="alert">
                                <h6 class="alert-heading mb-1">Внимание</h6>
                                <span>Выберите реестр</span>
                            </div>
                        </div>
                    </div>
                    <div class="card Unclaimed-table_Wrapper d-none">
                        <div class="card-header">
                            <h5 class="card-title mb-0" id="card_title"></h5>
                        </div>
                        <span class="border-bottom"></span>
                        <div class="card-body pt-0">
                            <div class="table-responsive mt-3 casesUnclaimed_Wrapper" id="casesUnclaimed_Wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        const showTable = () => {
            $("#empty-table").hide();
            $(".Unclaimed-table_Wrapper").removeClass("d-none");
        };
        const hiddenTable = () => {
            $("#empty-table").show();
            $(".Unclaimed-table_Wrapper").addClass("d-none");
        };

        $(document).ready(function () {

            new PerfectScrollbar("#Unclaimed_Wrapper");

            $('#selectOfficeFilter').select2({
                language: "ru",
            }).on('change', function () {
                let id = $(this).val();
                $.ajax({
                    url: '/ReestrUnclaimedDocuments/GetReestrUnclaimedDocuments',
                    type: 'POST',
                    data: { officeId: id },
                    beforeSend: () => {
                        $.pageBlock();
                    },
                    complete: () => {
                        $.unblockUI();
                        hiddenTable();
                    },
                    success: function (content) {
                        $('#Unclaimed_Wrapper').empty();
                        $('#Unclaimed_Wrapper').html(content);
                    }
                });
            });

        })
    </script>
}