@using AisLogistics.App.Views.Cases.Details
 
<style>
    .app-action .nav-link.active
    {
        color: #172359!important; 
    }

    .app-action .nav-link  {
        color: #B5B5B5 !important;
    }
  </style>

<div class="app-action">
    <div class="action-left">
        <ul class="nav nav-custom nav-justified" role="tablist">
            <li class="nav-item me-4" role="presentation">
                <a class="nav-link active px-0" id="Docs-tab" data-bs-toggle="tab" data-bs-target="#Docs" href="javascript:void(0);" role="tab" data-service-documents aria-controls="Expired" aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none" class="me-2">
                        <path d="M6 2.03528C5.46957 2.03528 4.96086 2.24971 4.58579 2.63139C4.21071 3.01308 4 3.53076 4 4.07054V20.3527C4 20.8924 4.21071 21.4101 4.58579 21.7918C4.96086 22.1735 5.46957 22.3879 6 22.3879H18C18.5304 22.3879 19.0391 22.1735 19.4142 21.7918C19.7893 21.4101 20 20.8924 20 20.3527V8.14107L14 2.03528H6ZM6 4.07054H13V9.1587H18V20.3527H6V4.07054ZM8 12.2116V14.2469H16V12.2116H8ZM8 16.2821V18.3174H13V16.2821H8Z" fill="#B5B5B5" />
                    </svg>
                    Документы
                </a>
            </li>
            <li class="nav-item me-4" role="presentation">
                <a class="nav-link px-0" id="Results-tab" data-bs-toggle="tab" data-bs-target="#Results" href="javascript:void(0);" role="tab" data-service-results aria-controls="Lastday" aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none" class="me-2">
                        <path d="M3 13.2293L5 11.194L10 16.2822L21 5.0882L23 7.12346L10 20.3527L3 13.2293Z" fill="#B5B5B5" />
                    </svg>
                    Результаты
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-inline-flex align-items-center px-0" data-bs-toggle="tab" href="javascript:void(0);" role="tab" data-service-smevs>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none" class="me-2">
                        <path d="M14.918 14.8001C14.7013 14.1217 14.0763 13.6213 13.3346 13.6213H12.5013V11.0773C12.5013 10.8523 12.4135 10.6366 12.2572 10.4776C12.1009 10.3186 11.889 10.2292 11.668 10.2292H6.66797V8.53318H8.33464C8.55565 8.53318 8.76761 8.44383 8.92389 8.2848C9.08017 8.12576 9.16797 7.91006 9.16797 7.68515V5.9891H10.8346C11.2767 5.9891 11.7006 5.81041 12.0131 5.49233C12.3257 5.17426 12.5013 4.74286 12.5013 4.29304V3.94535C13.4984 4.35441 14.3832 5.00324 15.08 5.83631C15.7768 6.66938 16.2649 7.66187 16.5024 8.72883C16.74 9.79578 16.7199 10.9054 16.444 11.9628C16.168 13.0201 15.6444 13.9937 14.918 14.8001ZM9.16797 16.9541C5.8763 16.5386 3.33464 13.6892 3.33464 10.2292C3.33464 9.70345 3.4013 9.19464 3.50964 8.71126L7.5013 12.7733V13.6213C7.5013 14.0712 7.6769 14.5026 7.98946 14.8206C8.30202 15.1387 8.72594 15.3174 9.16797 15.3174M10.0013 1.74896C8.90695 1.74896 7.82332 1.96831 6.81227 2.39448C5.80123 2.82066 4.88257 3.44531 4.10875 4.23278C2.54594 5.82313 1.66797 7.98012 1.66797 10.2292C1.66797 12.4783 2.54594 14.6353 4.10875 16.2257C4.88257 17.0132 5.80123 17.6378 6.81227 18.064C7.82332 18.4902 8.90695 18.7095 10.0013 18.7095C12.2114 18.7095 14.3311 17.816 15.8939 16.2257C17.4567 14.6353 18.3346 12.4783 18.3346 10.2292C18.3346 9.11559 18.1191 8.01285 17.7003 6.98397C17.2815 5.9551 16.6677 5.02024 15.8939 4.23278C15.12 3.44531 14.2014 2.82066 13.1903 2.39448C12.1793 1.96831 11.0957 1.74896 10.0013 1.74896Z" fill="#B5B5B5" />
                    </svg>
                    СМЭВ
                </a>
            </li>
            <a href="#" class="d-flex align-items-center ms-auto" data-service-additional>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="me-2">
                    <path d="M6.3855 18.3879H3.75C2.75544 18.3879 1.80161 17.9858 1.09835 17.2702C0.395088 16.5545 0 15.5839 0 14.5718V6.17629H8.0055C6.92186 6.9504 6.03749 7.97885 5.42728 9.17455C4.81707 10.3702 4.499 11.698 4.5 13.0453C4.5 15.0755 5.208 16.9377 6.3855 18.3879ZM18 4.64984V3.88662C18 2.87452 17.6049 1.90387 16.9016 1.18821C16.1984 0.47255 15.2446 0.0704956 14.25 0.0704956H3.75C2.75544 0.0704956 1.80161 0.47255 1.09835 1.18821C0.395088 1.90387 0 2.87452 0 3.88662V4.64984H18ZM11.8125 9.99241C11.8125 9.73939 11.9113 9.49672 12.0871 9.31781C12.2629 9.13889 12.5014 9.03838 12.75 9.03838C12.9986 9.03838 13.2371 9.13889 13.4129 9.31781C13.5887 9.49672 13.6875 9.73939 13.6875 9.99241C13.6875 10.2454 13.5887 10.4881 13.4129 10.667C13.2371 10.8459 12.9986 10.9464 12.75 10.9464C12.5014 10.9464 12.2629 10.8459 12.0871 10.667C11.9113 10.4881 11.8125 10.2454 11.8125 9.99241ZM13.5 16.0982C13.5 16.3006 13.421 16.4948 13.2803 16.6379C13.1397 16.781 12.9489 16.8614 12.75 16.8614C12.5511 16.8614 12.3603 16.781 12.2197 16.6379C12.079 16.4948 12 16.3006 12 16.0982V13.0453C12 12.8429 12.079 12.6488 12.2197 12.5056C12.3603 12.3625 12.5511 12.2821 12.75 12.2821C12.9489 12.2821 13.1397 12.3625 13.2803 12.5056C13.421 12.6488 13.5 12.8429 13.5 13.0453V16.0982ZM6 13.0453C6 12.1433 6.17459 11.25 6.51381 10.4166C6.85303 9.58326 7.35023 8.82603 7.97703 8.18818C8.60382 7.55033 9.34794 7.04436 10.1669 6.69916C10.9858 6.35396 11.8636 6.17629 12.75 6.17629C13.6364 6.17629 14.5142 6.35396 15.3331 6.69916C16.1521 7.04436 16.8962 7.55033 17.523 8.18818C18.1498 8.82603 18.647 9.58326 18.9862 10.4166C19.3254 11.25 19.5 12.1433 19.5 13.0453C19.5 14.8671 18.7888 16.6142 17.523 17.9024C16.2571 19.1906 14.5402 19.9143 12.75 19.9143C10.9598 19.9143 9.2429 19.1906 7.97703 17.9024C6.71116 16.6142 6 14.8671 6 13.0453ZM7.5 13.0453C7.5 14.4622 8.05312 15.8211 9.03769 16.8231C10.0223 17.825 11.3576 18.3879 12.75 18.3879C14.1424 18.3879 15.4777 17.825 16.4623 16.8231C17.4469 15.8211 18 14.4622 18 13.0453C18 11.6284 17.4469 10.2695 16.4623 9.26754C15.4777 8.26561 14.1424 7.70274 12.75 7.70274C11.3576 7.70274 10.0223 8.26561 9.03769 9.26754C8.05312 10.2695 7.5 11.6284 7.5 13.0453Z" fill="#729EFB" />
                </svg>
                <p class="m-0">Доп. информация</p>
            </a>
        </ul>
    </div>
</div>
