
<style>
    body {
        overflow: hidden;
    }
</style>

<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
        <div class="modal-body">
            <pdf src="@Convert.ToBase64String(Model)"></pdf>
        </div>
    </div>
</div>

