@model AisLogistics.App.Models.AdditionalForms.Regional.Service29_1Model
<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
           <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label" asp-for="Received">Поступ. в банк плат.</label>
                    <input type="text" asp-for="Received" class="form-control">
                </div>
                    
                <div class="col-6">
                    <label class="form-label" asp-for="Written_Off">Списано со сч. плат.</label>
                    <input type="text" asp-for="Written_Off" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="Date_Payment">Дата платежа</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="Date_Payment" type="text"
                               class="form-control pickdate">
                    </div>
                </div>         
                <div class="col-8">
                    <label class="form-label" asp-for="Type_Payment">Вид платежа</label>
                    <input type="text" asp-for="Type_Payment" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ASSIGNMENT">ПЛАТЕЖНОЕ ПОРУЧЕНИЕ № </label>
                    <input type="text" asp-for="ASSIGNMENT" class="form-control">
                </div>
            </div>      
            <hr/>
            <br/>
             <h6 class="my-2">Сведения о плательщике</h6>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="Payer.Inn">ИНН</label>
                    <input type="text" class="form-control" asp-for="Payer.Inn">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="Payer.KPP">КПП</label>
                    <input type="text" class="form-control" asp-for="Payer.KPP">
                </div>
              
                <div class="col-4">
                    <label class="form-label" asp-for="Payer.Amount">Сумма</label>
                    <input type="text" class="form-control" asp-for="Payer.Amount">
                </div>
               <div class="col-4">
                    <label class="form-label" asp-for="Payer.BIK">БИК</label>
                    <input type="text" asp-for="Payer.BIK" class="form-control">
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="Payer.Number_1">Сч. №</label>
                    <input type="text" asp-for="Payer.Number_1" class="form-control">
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="Payer.Number_2">Сч. №</label>
                    <input type="text" asp-for="Payer.Number_2" class="form-control">
                </div>
                 <div class="col-8">
                    <label class="form-label" asp-for="Payer.Fio">Плательщик</label>
                    <input type="text" asp-for="Payer.Fio" class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="Payer.Bank">Лицевой счет</label>
                    <input type="text" asp-for="Payer.Bank" class="form-control">
                </div>
            </div>  
            <hr/>
            <br/>
            <h6 class="my-2">Сведения о получателе</h6>
             <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="Recipient.Inn">ИНН</label>
                    <input type="text" class="form-control" asp-for="Recipient.Inn">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="Recipient.KPP">КПП</label>
                    <input type="text" class="form-control" asp-for="Recipient.KPP">
                </div>     
                <div class="col-4">
                    <label class="form-label" asp-for="Recipient.Bank">Лицевой счет</label>
                    <input type="text" asp-for="Recipient.Bank" class="form-control">
                </div>        
               <div class="col-4">
                    <label class="form-label" asp-for="Recipient.BIK">БИК</label>
                    <input type="text" asp-for="Recipient.BIK" class="form-control">
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="Recipient.Number_1">Сч. №</label>
                    <input type="text" asp-for="Recipient.Number_1" class="form-control">
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="Recipient.Number_2">Сч. №</label>
                    <input type="text" asp-for="Recipient.Number_2" class="form-control">
                </div>
                 <div class="col-12">
                    <label class="form-label" asp-for="Recipient.Fio">Получатель</label>
                    <input type="text" asp-for="Recipient.Fio" class="form-control">
                </div>              
            </div>        
            <hr/>
            <br/>
             <h6 class="my-2">Сведения о платеже</h6>
            <div class="row mb-3">
               <div class="col-4">
                    <label class="form-label" asp-for="Type_of_payment">Вид оплаты</label>
                    <input type="text" asp-for="Type_of_payment" class="form-control">
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="Name_of_payment">Название платежа</label>
                    <input type="text" asp-for="Name_of_payment" class="form-control">
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="Code_of_payment">Код</label>
                    <input type="text" asp-for="Code_of_payment" class="form-control">
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="Term_of_payment">Срок платежа </label>
                    <input type="text" asp-for="Term_of_payment" class="form-control">
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="Queue_of_payment">Очередь платежа </label>
                    <input type="text" asp-for="Queue_of_payment" class="form-control">
                </div>
                 <div class="col-4">
                    <label class="form-label" asp-for="Backup_Field">Резевное Поле</label>
                    <input type="text" asp-for="Backup_Field" class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="DatePayment">Дата Назначение платежа</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="DatePayment" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
                </div>

        </div>
    </div>
    </div>



                      
<script>

    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');

    $(function() {
        originalBlock.find('[data-original]').each(function(_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        additionalForm.find('#addAppliedDocument').on('click', () => addForm('appliedDocumentList', 'appliedDocument'));

        additionalForm.find('[data-disabled]').each(function() {
            visibilityBlock($(this), true, true);
        });

        let options = { clearIncomplete: true, showMaskOnHover: false };
        additionalForm.find('[name$="Phone"]').inputmask("9{1,15}", options);
        additionalForm.find('[name$="Email"]').inputmask("email", options);

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true,
        }).inputmask("99.99.9999", options);

        function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
            let $cloneList = additionalForm.find(`#${cloneListId}`);
            let $original = originalBlock.find(`#${originalId}`);
            let $cloneBlock = $original.clone(true);
            let indexId = $cloneList.find('[data-clone]').length;
            renameBlock($cloneBlock, indexId);
            blockInit($cloneBlock);
            $cloneList.append($cloneBlock);
        }

        function blockInit($block) {
            visibilityBlock($block, false, false);

            $block.find("input").each(function() {
                $(this).val("");
            });
        }
    });

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `${$cloneBlock.attr("id")}${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function() {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function() {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function(index, item) {
            renameBlock($(item), index);
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
</script>
