@model AisLogistics.App.Models.AdditionalForms.Regional.Service24Model
@{
        IEnumerable<SelectListItem> Request_Path = new List<SelectListItem>
    {
        new("личный прием", "1"),
        new("через Единый портал государственных и муниципальных услуг (функций)", "2"),
        new("через многофункциональный центр предоставления государственных и муниципальных услуг", "3"),
        new("почтовая связь", "4"),
    };
          IEnumerable<SelectListItem> purpose = new List<SelectListItem>
    {
        new("повторное свидетельство о смерти", "1"),
        new("справку о смерти", "2"),
       
    };
    }
<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <h5 class="my-2">Заявитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Fio">ФИО</label>
                    <input type="text" asp-for="Fio" class="form-control">
                </div>
            </div>        
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="ResidenceAddress">Адрес места жительства</label>
                    <input type="text" asp-for="ResidenceAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="RegistrationAddress">Адрес места регистрации</label>
                    <input type="text" asp-for="RegistrationAddress" class="form-control">
                </div>
            </div>
            <h6 class="my-2">Паспортные данные</h6>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="DocSeries">Серия</label>
                    <input type="text" class="form-control" asp-for="DocSeries">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="DocNumber">Номер</label>
                    <input type="text" class="form-control" asp-for="DocNumber">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="DocIssueDate">Дата выдачи</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="DocIssueDate" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" asp-for="DocIssuer">Кем выдан</label>
                    <input type="text" class="form-control" asp-for="DocIssuer">
                </div>
            </div>
                

            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="Phone">Телефон</label>
                    <input type="text" asp-for="Phone" class="form-control">
                </div>
            </div>
            <hr/>
            <br/>

            <h6 class="my-2">Инфомация о запросе </h6>
            <div class="row mb-3">

                <div class="col-8">
                    <label class="form-label" asp-for="Request_path">Заявление поступило</label>
                    <select class="select2-search" asp-items="@Request_Path" asp-for="Request_path"></select>                
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="Date_Request">Дата принятия заявления</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="Date_Request" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
                    
            </div>
            <hr />
            <br/>
            <h5 class="my-2 с">ЗАЯВЛЕНИЕ</h5>
            <h6 class="my-2">Прошу выдать </h6>

            <div class="row mb-3">

                <div class="col-12">
                    <label class="form-label" asp-for="Purpose">Заявление поступило</label>
                    <select class="select2-search" asp-items="@purpose" asp-for="Purpose"></select>                
                </div>
            </div>
                    
            <h5 class="my-2">Сведения об умершем</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Fio_Rip">ФИО умершего</label>
                    <input type="text" asp-for="Fio_Rip" class="form-control">
                </div>
            </div>    
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="Date_Rip">Дата принятия заявления</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="Date_Rip" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
            </div>



            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Residence_Rip">Адрес места жительства</label>
                    <input type="text" asp-for="Residence_Rip" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="Date_Register_Rip">Дата принятия заявления</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="Date_Register_Rip" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Nuber_Act">номер записи акта</label>
                    <input type="text" asp-for="Nuber_Act" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Doc_Contact_Please">выдать в связи с</label>
                    <input type="text" asp-for="Doc_Contact_Please" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Doc_Info_Please">указать следующие иные сведения</label>
                    <input type="text" asp-for="Doc_Info_Please" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <hr />
</div>

    
<script>

    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');

    $(function() {
        originalBlock.find('[data-original]').each(function(_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        additionalForm.find('#addAppliedDocument').on('click', () => addForm('appliedDocumentList', 'appliedDocument'));

        additionalForm.find('[data-disabled]').each(function() {
            visibilityBlock($(this), true, true);
        });
        
         additionalForm.find("select.select2-search").each(function() {
            $(this).select2({
                //dropdownParent: $("#mainModal"),
            });
        });

        additionalForm.find("select.select2-nosearch").each(function() {
            $(this).select2({
                minimumResultsForSearch: Infinity,
            });
        });

        let options = { clearIncomplete: true, showMaskOnHover: false };
        additionalForm.find('[name$="Phone"]').inputmask("9{1,15}", options);
        additionalForm.find('[name$="Email"]').inputmask("email", options);

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true,
        }).inputmask("99.99.9999", options);

        function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
            let $cloneList = additionalForm.find(`#${cloneListId}`);
            let $original = originalBlock.find(`#${originalId}`);
            let $cloneBlock = $original.clone(true);
            let indexId = $cloneList.find('[data-clone]').length;
            renameBlock($cloneBlock, indexId);
            blockInit($cloneBlock);
            $cloneList.append($cloneBlock);
        }

        function blockInit($block) {
            visibilityBlock($block, false, false);

            $block.find("input").each(function() {
                $(this).val("");
            });
        }
    });

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `${$cloneBlock.attr("id")}${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function() {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function() {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function(index, item) {
            renameBlock($(item), index);
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
</script>
